/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 2 version
*/

* {
    margin: 0px;
    padding: 0px;
}

body {


    /* background-image: url("/src/img/pokemon-bg-big.png");
    background-repeat: no-repeat; */
    background-color: #66ccff;

}

main {
    background-image: url(/src/img/pokemon-bg-big.png);
    height: 500px;
}


header {
    background-color: #ff6680;
    text-align: center;
    padding: 5px;
}

li {
    text-align: center;
    list-style: none;
}

.pokemon-list {
    text-align: center;
    padding-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    gap: 15px;
}

.pokemonButton {
    font-size: 16px;
    font-family: 'Press Start 2P', cursive;
    border: none;
    border-radius: 5px;
    background-color: aqua;
    padding: 15px;
    margin: 3px;
    min-width: 250px;
    text-align: center;
    -webkit-box-shadow: 4px 3px 19px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 4px 3px 19px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.pokemonButton:hover,
.pokemonButton:focus {
    background-color: #00d8d8;
    cursor: pointer;
    opacity: 0.8;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

/* GRID FALLBACK
.grid__item {
    display: inline-block;
    width: 33%;
} */


@media all and (max-width: 550px) {

    .pokemonButton {
        width: 100%;
        text-align: center;
    }
}

@media all and (min-width: 550px) and (max-width: 750px) {

    .pokemonButton {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
}