    body {
        background-color: #66ccff;

    }

    nav {
        background-color: #ff6680;
        padding-top: 0;
        justify-content: center;
    }

    .navbar-brand {
        font-size: 2em;
        justify-content: center;
        color: black;
    }

    .nav-link {
        color: #000000;
    }

    .list-group {
        row-gap: 1em;
        font-family: 'Press Start 2P', cursive;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        padding-top: 10px;
    }

    .modal-content {
        font-family: 'Press Start 2P', cursive;
        text-align: center;
        background-image: linear-gradient(to bottom right, #003333, #000000, #003333);
        color: white;
        border-color: aqua;
    }

    .modal.header {
        text-align: center;
    }

    .list-group-item {
        background-color: #66ff99;
        width: 200px;
        text-align: center;
        padding: 5px 0px;
        box-shadow: 4px 3px 19px 0px rgba(0, 0, 0, 0.3);
    }